.eksternal{
    color: #ABCD41;
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    background-color: blue;
}

/* Link Color 1 */
.linkcolor a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
.linkcolor a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
.linkcolor a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.linkcolor a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* Link Color 2 */
.btncolor a:link, .btncolor a:visited  {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.btncolor a:hover, .btncolor a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* Link Color 3 */
.btnblock a:link, .btnblock a:visited {
    background-color: #f44336;
    color: blue;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.btnblock a:hover, .btnblock  a:active {
    background-color: red;
  }